#show-info {
	color: navy;
	font-weight: bold;
	font-size: 85px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	width: 400px;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	
}
